# Generated code
/wuyusile/tl/functions/
/wuyusile/tl/types/
/wuyusile/tl/alltlobjects.py
/wuyusile/errors/rpcerrorlist.py

# User session
*.session
/usermedia/

# Builds and testing
__pycache__/
/dist/
/build/
/*.egg-info/
/readthedocs/_build/
/.tox/

# API reference docs
/docs/

# File used to manually test new changes, contains sensitive data
/example.py
